/* static/css/custom.css に追加 */
.profile-image {
    border-radius: 50%; /* 50% で丸く表示 */
    width: 100px; /* 画像の幅を適切なサイズに調整 */
    height: 100px; /* 画像の高さを適切なサイズに調整 */
  }

/* static/css/custom.css */

.link {
  color: #007bff; /* リンクのデフォルトの色 */
  text-decoration: none;
  margin-right: 10px; /* リンク間の余白を追加 */
}

.link:hover {
  text-decoration: underline; /* マウスホバー時に下線を表示 */
}

.github-link {
  color: #28a745; /* GitHubのリンクの色 */
  text-decoration: none;
  margin-right: 10px; /* リンク間の余白を追加 */
}

.github-link:hover {
  text-decoration: underline; /* マウスホバー時に下線を表示 */
}
\