<!-- layouts/partials/header.html に追加 -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {{ with .Title }}
        <title>{{ . }}</title>
    {{ else }}
        <title>{{ .Site.Title }}</title>
    {{ end }}
    
    <a href="/" class="link">Home</a>
    <a href="/aboutme" class="link">About me</a>
    <a href="/skills" class="link">Skills</a>
    <a href="/projects" class="link">Projects</a>
    <a href="https://github.com/eightsuzuki" class="github-link">GitHub</a>

    {{ with .Description }}
        <meta property="og:description" content="{{ . }}">
    {{ else }}
        <meta property="og:description" content="{{ .Site.Params.description }}">
    {{ end }}

    {{ with .Params.images }}
        <meta property="og:image" content="{{ . | absURL }}">
    {{ end }}

</head>
